Next Steps:
- make drinks consumable by player
- administrator view
- save everything on server
- revert app/server to access new server

General ideas:
- Make somebody choose a drink for me (1000 extra points for me)
- Boss mechanics (Freeze, Burn, 
- Achievements (that give points)
- Bonus Objects in some drinks
- QR Code Scanner Riddle
- No Math Endgame!!!!
- Teams
